body {
    background-color: #dadada;
}

/* div.navbar {
    min-width: 50%;
} */

/* section.projects {

} */

/* div.item {
    /* border: 10px #000000; */
    /* position: relative;
    right: 2em;
} */

button {
    border-color: #ffffff00;
    font-size: 1.2em;
    background-color: #ffffff00;
}

button.copybutton {
    font-size: 0.8em;
    font-family: "Courier", monospace;
    color:#808080;
    text-decoration: none;
}

a {
    font-size: 1.2em;
    font-family: "Courier", monospace;
    color: #3c3cfd;
    text-decoration: underline;
}

a:hover{
    text-decoration: none;
    font-style: italic;
}

a:hover::before {
    content: "[";
}

a:hover::after {
    content: "]";
}

a.external {
    font-size: 1.3em;
}

a.navbar {
    font-size: 1em;
}

a.copylink {
    color: #808080;
}

a.top {
    color: #000000;
    font-size: 0.85em;
    float: right;
    padding: 20px;
}

a.language {
    font-size: 0.8em;
}

audio {
    width: 20em;
    height: 3em;
}

p {
    font-size: 1.2em;
    font-family: "Courier", monospace;
    max-width: 70ch;
}

p.body {
    font-size: 0.9em;
}

p.description {
    font-size: 0.75em;
    color: #646464;
}

p.name {
    font-size: 1.75em;
    font-style: italic;
    margin-top: -0px;
    margin-bottom: -0px;
}

h4 {
    font-size: 1.2em;
    font-family: "Courier", monospace;
}

div.test {
    height: 100%;
}

div.spacer {
    height: 30px;
}

/* section.limited {
    max-width: min(50%, 800px);
} */